.footer {
    top: 80%;
    bottom: 30%;
    position: absolute;
    left: 40%;
}

.vl {
    border-left: 1px solid black;
    height: 250px;
    position: absolute;
    left: 50%;
    right: center;
    margin-left: -3px;
    top: 5%;
}